/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.min.css";

body {
  background-color: #424242;
  color: black;
  height: 100%;
  width: 100%;
}

.valign-wrapper {
  height: 100vh;
}

img {
  max-height: 344px;
  float: right;
  margin-left: 10px;
}

hr {
  width: 50%;
  height: 1px;
  border: none;
  background-color: #ffc107;
}